@*@using Entities.Dtos
@model UserLoginDto
@{
    ViewData["Title"] = "Login";
}

<br />
<h1>Login</h1>
<hr />
<div>
    <input type="text" class="form-control" id="email" placeholder="Email"/>
    <br />
    <input type="text" class="form-control" id="password" placeholder="Password"/>
    <br />
    <input type="submit" id="login" value="Login"/>
</div>
*@


